{% extends "base.html" %}

{% block title %}
    {{ the_site_name }}
    -
    {{ page_title }}
{% endblock title %}

{% block content %}

    <form action="{% url 'pictures:create-function' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} `type="file"`: Input field accepts 'file's.{% endcomment %}
        {% comment %} `name="image"`: We can get the `file` using the key `image`{% endcomment %}
        {% comment %} `accept="image/*"`: Input field accepts files of any type of image (image/png, image/jpg, etc). {% endcomment %}
        <input type="file" name="image" accept="image/*" required>
        <input type="text" name="title" required>
        <button type="submit">submit</button>
    </form>

    <div>
        <ul>
            {% if pictures %}
                {% for picture in pictures %}
                    <li><img src="{{ picture.image.url }}" height='100px'></li>
                {% endfor %}
            {% endif %}

            {% if object_list %}
                {% for picture in object_list %}
                    <li><img src="{{ picture.image.url }}" height='100px'></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

{% endblock content %}